h1, h2, h3, p, form {
    color: gold;
    text-align: center;
    font-family: Verdana, sans-serif;
    padding: 5px;
}
input {
    color: rgb(0, 0, 66);
    font-family: Verdana, sans-serif;
    padding: 10px;
}
body {
    background-color: navy;
}
img {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#nav {
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    background-color: navy;
}
table {
    background-color: gold;
    width: 100%;
    table-layout: fixed;
}
td {
    text-align: center;
    font-family: Verdana, sans-serif;
    padding: 10px;
}
.main {
    margin-top: 200px;;
}